#navbar{

  width:auto;

  height:36px;

  float: right;;

  /*background:url(img/navbar-bg.png) left top repeat-x;*/

  text-align: right;

  margin: 0.2px;
}

#navbar .inbar{

  display:block;

  height:36px;

  /*background:url(img/right-round.png) right top no-repeat;*/
}

/*Barra desplegable---------------------------------*/

.inbar li ul {
  display:none;
	/*position:absolute;*/
	min-width:100px;
  float: left;
}

.inbar li:hover > ul {
  display:block;
  background-color: #1A57A7;
  float: left;
}

.nav li ul li {
  /*position:relative;*/
  float: left;
}

.inbar #usuario a span{
  width: 145px;
}

/*---------------------------------------------------*/

#navbar ul, #navbar ul li{

  border:0px;

  margin:0px;

  padding:0px;

  list-style:none;

  height:36px;

  line-height:36px;
}

#navbar ul{

  /*background:url(img/left-round.png) left top no-repeat;*/

}

#navbar ul li{

  float:left;

  display:block;

  line-height:36px;
}

#navbar ul li a{

  color: #C1C1C3;
  font-size: smaller;
  font-family: Helvetica;
  font-weight: bold;

  text-decoration:none;

  display:block;
}

#navbar ul li a span{

  padding:0 10px;

  height:36px;

  line-height:36px;

  display:block;

  margin-left: 0px;

  /*background-color: black;*/
}

#navbar .navhome a, #navbar .navhome a:hover{

  /*background:url(img/a-bg.png) left top no-repeat;*/

  height:36px;

  line-height:36px;
}

#navbar .navhome a span, #navbar .navhome a:hover span{

  color: #5197FF;

  /*background:url(img/span-bg.png) right top no-repeat;*/

  height:36px;

  line-height:36px;

  /*border-bottom: medium solid #636363;*/

  /*background-color: #901e1e;*/
}

#navbar .navhome a span, #navbar .navhome a:focus span{

  color:#FFF;

  /*background:url(img/span-bg.png) right top no-repeat;*/

  height:36px;

  line-height:36px;

  /*background-color: #901e1e;*/
}

#navbar ul li a:hover{

  /*background:url(img/ahover-bg.png) left top no-repeat;*/

  height:36px;

  line-height:36px;
}

#navbar ul li a:hover span{

  /*background:url(img/spanhover-bg.png) right top no-repeat;*/
  color: #5197FF;

  height:36px;

  line-height:36px;

  border-bottom: medium solid #071773;
  border-top: medium solid #071773;
}
